*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/openUat
app/openProduction
/app/staging/release
/app/staging/debug
/app/uat/debug
/app/uat/release
/app/production/debug
/app/production/release
!/app/build/jacoco/
/.log
ha-release-18/build/.transforms
hungamaplayersdk-v1.5/build/.transforms
cmsdkCore-2.4.3.3-pa.sonyliv-v5.com/build/.transforms
cmsdkCore-2.4.3.3-pa.sonyliv.com/build/.transforms
SonyPlayerSDK-release-v5/build/.transforms
SonyPlayerSDK-release-prod-v5/build/.transforms
SonyPlayerSDK-release-uat-v6/build/.transforms