<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="com.tatasky.binge">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <!-- Android Advertising Identifier, Required by AppsFlyer -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.touchscreen"

        android:required="true"/>
    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />

    <supports-screens
        android:largeScreens="false"
        android:largestWidthLimitDp="600"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="in.startv.hotstar"/>
        <package android:name="com.android.chrome"/>
        <package android:name="com.amazon.avod.thirdpartyclient"/>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
    </queries>

    <application
        android:name=".ui.base.MyApp"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@drawable/ic_launcher_round"
        android:label="${app_name}"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:allowBackup="false"
        android:fullBackupContent="@xml/app_backup_xml"
        tools:replace="fullBackupContent,allowBackup,label"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library
            android:name="android-automotive-video"
            android:required="true"/>

        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_icon_small" />
        <!-- Value to be added to enable deferred deep links -->
        <meta-data
            android:name="google_analytics_deferred_deep_link_enabled"
            android:value="true" />

        ////////////////=============clevertap starts==================////////////////

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="@string/ct_account_id"  />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="@string/ct_token"/>
        <!-- Added by CleverTap Assistant-->
        <!-- IMPORTANT: To force use Google AD ID to uniquely identify  users, use the following meta tag. GDPR mandates that if you are using this tag, there is prominent disclousure to your end customer in their application. Read more about GDPR here - https://clevertap.com/blog/in-preparation-of-gdpr-compliance/ -->
        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="1" />
        <meta-data
            android:name="CLEVERTAP_REGION"
            android:value="in1" />
        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1"/>
        <meta-data
            android:name="CLEVERTAP_INAPP_EXCLUDE"
            android:value="AppSplashActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <receiver
            android:name="com.clevertap.android.sdk.pushnotification.CTPushNotificationReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.clevertap.PUSH_EVENT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1"/>

        <!--use CTBackgroundIntentService to target users below Android 21 (Lollipop)-->
        <service
            android:name="com.clevertap.android.sdk.pushnotification.amp.CTBackgroundIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.BG_EVENT"/>
            </intent-filter>
        </service>

        <!--use CTBackgroundJobService to target users on and above Android 21 (Lollipop)-->
        <service
            android:name="com.clevertap.android.sdk.pushnotification.amp.CTBackgroundJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>


        ///////////////==============clevertap ends ============/////////

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsCollectionEnabled}" />
        //Clevertap changes

        <!--<activity
            android:name="com.moengage.addon.inbox.MoEInboxActivity"
            android:label="Notifications">
            <meta-data
                android:name="showInApp"
                android:value="false"/>
        </activity>-->
        <service android:name=".data.service.SubscriptionChangeNotifierService" />

        <!--MoEngageImaplementation-->
        <service android:name=".data.service.BingeNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="SENDER_ID"
            android:value="@string/moengage_sender_id" />
        <receiver
            android:name="com.moengage.push.amp.plus.MiPushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <!--Rich landing activity Required for opening links inside the app -->
        <activity android:name="com.moe.pushlibrary.activities.MoEActivity"
            android:label="[ACTIVITY_NAME]"
            android:parentActivityName=".ui.features.splash.AppSplashActivity"
            tools:replace="android:label">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.features.splash.AppSplashActivity"/>
        </activity>
        <!--MoEngage End-->
        <activity android:name=".ui.features.splash.AppSplashActivity"
            android:theme="@style/AppTheme.SplashAppTheme"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.features.player.PlayerActivity"
            android:screenOrientation="sensorLandscape"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.PlayerAppTheme"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
        </activity>
        <activity android:name=".ui.features.subscription_freemium.PaymentJourneyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.features.subscription_freemium.WalletPaymentActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.features.subscription_freemium.FreemiumSubscriptionActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".ui.features.games.GamePlayerActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".ui.features.onboarding.LicenseAgreementActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".ui.features.recharge.RechargeActivity"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".ui.features.home.LandingActivity"
                android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden">

        </activity>

        <activity android:name=".ui.features.onboarding.marketing.MarketingActivity"
            android:windowSoftInputMode="adjustPan|adjustUnspecified"/>

        <activity android:name=".ui.features.prime.view.PrimeActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:windowSoftInputMode="adjustPan|adjustUnspecified"/>
        <activity android:name=".ui.features.prime.view.PrimeActivationActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|adjustUnspecified"/>

        <activity         android:name="com.tatasky.binge.ui.features.fsinstallation.FSInstallationActivity"
            android:windowSoftInputMode="adjustPan|adjustUnspecified"
            android:launchMode="singleTop">
        </activity>
        <activity android:name="com.tatasky.binge.ui.features.switchaccount.SwitchAccountActivity"
            android:windowSoftInputMode="adjustPan|adjustUnspecified"
            android:launchMode="singleTop">
        </activity>
        <activity android:name="com.tatasky.binge.ui.features.device_management.DeviceListManagementActivity"
            android:windowSoftInputMode="adjustPan|adjustUnspecified"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.features.zee5.InAppBrowserActivity"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".ui.features.common.DeeplinkHandlingActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.SplashAppTheme"
            android:exported="true">
            <nav-graph android:value="@navigation/nav_home" />
            <nav-graph android:value="@navigation/nav_movies" />
            <nav-graph android:value="@navigation/nav_shows" />
            <nav-graph android:value="@navigation/nav_game_tab" />
            <nav-graph android:value="@navigation/nav_sports" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="*"
                    android:scheme="tataplaybinge" />
            </intent-filter>
        </activity>


          <activity
            android:name=".ui.base.frameworks.base.NotificationDispatcher"
            android:configChanges="orientation|screenSize"
            android:noHistory="true"
            />

        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>
